<router-outlet>
  <select #type (change)="updateUser(type.value)" >
    <option *ngFor="let t of types" [value]="t.id">{{t.name}}</option>
</select>
  <app-register-form [renderDataForm]="renderData" [userType] = "userType"></app-register-form>
  <table>
    <thead>
      <td>Codigo</td>
      <td>Nombre</td>
      <td>Direccion</td>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i?.code || i?.identification}}</td>
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
      </tr>
    </tbody>
  </table>
</router-outlet>
